<html style="height: auto; min-height: 100%;">

</html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>RentToGo</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>


    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <script src="https://kit.fontawesome.com/eaa1eaa6a4.js" crossorigin="anonymous"></script>

    <!-- Theme style -->
    <link href="https://devbanban.com/app/carrent/asset/dist/css/AdminLTE.min.css" rel="stylesheet" type="text/css">

    <!-- AdminLTE Skins. Choose a skin from the css/skins
    folder instead of downloading all of them to reduce the load. -->
    <link href="https://devbanban.com/app/carrent/asset/dist/css/skins/_all-skins.min.css" rel="stylesheet"
        type="text/css">
    <!-- AdminLTE App -->
    <script src="https://devbanban.com/app/carrent/asset/dist/js/app.min.js" type="text/javascript">
    </script>

    <script src="https://devbanban.com/app/carrent/asset/dist/js/adminlte.min.js"></script>
    <script src="https://devbanban.com/app/carrent/asset/dist/js/demo.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet/0.0.1-beta.5/esri-leaflet.js"></script>
    <script
        src="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet-geocoder/0.0.1-beta.5/esri-leaflet-geocoder.js"></script>
    <link rel="stylesheet" type="text/css"
        href="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet-geocoder/0.0.1-beta.5/esri-leaflet-geocoder.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
    <!-- Load Esri Leaflet from CDN -->
    <script src="https://unpkg.com/esri-leaflet"></script>
    <!-- Esri Leaflet Geocoder -->
    <link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder/dist/esri-leaflet-geocoder.css" />
    <script src="https://unpkg.com/esri-leaflet-geocoder"></script>
    <!-- <link href="/dist/searchbox.css" rel="stylesheet" /> -->

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBk9nLEeUgSRh24COvS5D-Re-xgZNDaQ2k&callback=initMap&libraries=&v=weekly"
        defer></script>

    <style type="text/css">
        .sidebar-toggle {
            height: 34;
        }

        .navbar {
            height: 51;
        }

        #map {
            height: 750px;

        }

        img {
            max-width: 100%;
            max-height: 100%;
            display: block;
            /* remove extra space below image */
        }

        .box {
            width: 250px;
            border: 5px solid black;
        }

        .box.large {
            height: 300px;
        }

        .box.small {
            height: 100px;
        }
    </style>

    <script>

        let map;

        function initMap() {
            map = new google.maps.Map(document.getElementById("map"), {
                center: { lat: -34.397, lng: 150.644 },
                zoom: 8,
            });
        }

        // $(document).ready(function () {

        //     var latlngtest = [
        //         L.latLng(18.796143, 98.979263),
        //         L.latLng(19.90858, 99.8325),
        //         L.latLng(20.352439, 99.825107)
        //     ]
        //     var latlng = []
        //     var placeName = [];
        //     var marker = [];
        //     var tripid = sessionStorage.TripID;

        //     $("#logout").click(function () {
        //         sessionStorage.removeItem('TripID');
        //         window.location.replace('/')
        //     })

        //     $('#searchBick').click(function (e) {
        //         window.open('https://www.facebook.com/rent2gotravel/', '_blank');

        //     });

        //     $.ajax({
        //         method: "GET",
        //         url: "/latlng/" + tripid,
        //         success: function (data) {
        //             setview = Math.round(data.length / 2);

        //             // var mymap = L.map('map');
        //             mymap = L.map('map').setView([data[setview].Lat, data[setview].Longti], 10);
        //             console.log(tripid)
        //             // set map
        //             L.tileLayer('https://api.mapbox.com/styles/v1/mapbox/streets-v11/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        //                 attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        //                 maxZoom: 18,
        //                 // id: 'mapbox/streets-v11',
        //                 // style: 'mapbox://styles/mapbox/streets-v11',
        //                 tileSize: 512,
        //                 zoomOffset: -1,
        //                 accessToken: 'pk.eyJ1IjoiY2lja3Bvb2wiLCJhIjoiY2tiODA0dHc2MDlpMTM1cGZwdDJxNTNkdiJ9.Jfs-Dx_mpZFNuSKfqwNykA',
        //             }).addTo(mymap);


        //             for (var i = 0; i < data.length; i++) {
        //                 lat = parseFloat(data[i].Lat)
        //                 lng = parseFloat(data[i].Longti)
        //                 latlng.push(L.latLng(lat, lng));
        //                 placeName.push(data[i].Name);
        //                 waypointIndex = data.length;
        //                 // marker[i] = L.marker([data[i].Lat, data[i].Longti]).addTo(mymap);
        //                 // marker[i].on('click', L.bind(onMapClick, null, i))

        //             }
        //             console.log(latlngtest)
        //             // JSON.parse(latlng);
        //             console.log(latlng[0])
        //             var routeControl = L.Routing.control({

        //                 waypoints: latlng,
        //                 // waypoints: [array object of stops],
        //                 // geocoder: L.Control.Geocoder.nominatim(),

        //                 // createMarker()
        //                 createMarker: function (i, wp) {
        //                     return L.marker(wp.latLng).on('click', L.bind(onMapClick, null, i))

        //                     // .bindPopup(function () {

        //                     // })

        //                 },

        //                 routeWhileDragging: true,
        //                 reverseWaypoints: true,
        //                 showAlternatives: true,
        //                 altLineOptions: {
        //                     styles: [
        //                         { color: 'black', opacity: 0.15, weight: 9 },
        //                         // { color: 'white', opacity: 0.8, weight: 6 },
        //                         // { color: 'blue', opacity: 0.5, weight: 2 }
        //                     ]
        //                 }

        //                 // routeWhileDragging: false,
        //                 // lineOptions: {
        //                 //     styles: [{ color: 'green', opacity: 1, weight: 5 }]
        //                 // },


        //             }).addTo(mymap);
        //             // marker.bindPopup("<b>Hello world!</b><br>Test Test").openPopup()




        //             function onMapClick(i) {
        //                 $('#placeName').text(data[i].Name)
        //                 $('#tripImg').prop('src', '/assets/images/' + data[i].Picture + '')
        //                 $('#modelId').modal()
        //                 // alert(data[i].Name);
        //             }


        //             routeControl.hide();

        //             var searchControl = L.esri.Geocoding.geosearch().addTo(mymap);

        //             // create an empty layer group to store the results and add it to the map
        //             var results = L.layerGroup().addTo(mymap);

        //             // listen for the results event and add every result to the map
        //             searchControl.on("results", function (data) {
        //                 results.clearLayers();
        //                 for (var i = data.results.length - 1; i >= 0; i--) {
        //                     results.addLayer(L.marker(data.results[i].latlng));
        //                 }
        //             });

        //             var searchControlA = L.esri.Geocoding.geosearch().addTo(mymap);
        //             var A = L.layerGroup().addTo(mymap);

        //             searchControlA.on('results', function (data) {
        //                 A.clearLayers();
        //                 for (var i = data.results.length - 1; i >= 0; i--) {
        //                     A.addLayer(L.marker(data.results[i].latlng));

        //                 }
        //                 console.log(data)
        //             });
        //         }
        //     });


        //     // routeControl.on('routesfound', function (e) {
        //     //     var routes = e.routes;
        //     //     var summary = routes[0].summary;
        //     //     // alert distance and time in km and minutes
        //     //     // alert('Total distance is ' + summary.totalDistance / 1000 + ' km and total time is ' + Math.round(summary.totalTime % 3600 / 60) + ' minutes');
        //     // });




        //     // pop up content
        //     // marker.bindPopup("<>Hello world!</><br>Test Test").openPopup();


        // });
    </script>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light ">
        <!-- <a href="#" class="navbar-brand">Brand</a> -->
        <img src="assets\images\logo.png" style="height:30px;">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse" id="menubar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <!-- <a href="/" class="nav-item nav-link ">หน้าแรก</a> -->
                <a href="/selectTrip" class="nav-item nav-link ">แผนการท่องเที่ยว</a>
                <a href="#" class="nav-item nav-link active">แผ่นที่</a>
                <a href="https://www.facebook.com/rent2gotravel/" class="nav-item nav-link"
                    id="searchBick">มองหารถเช่า</a>
                <!-- <a href="#" class="nav-item nav-link">คำถามที่พบบ่อย</a> -->
                <!-- <a href="#" class="nav-item nav-link">Messages</a>
                <a href="#" class="nav-item nav-link disabled" tabindex="-1">Reports</a> -->
            </div>
            <div class="navbar-nav ml-auto">
                <!-- <form class="form-inline my-2 my-lg-0"> -->

                <button class="btn my-2 my-sm-0 text-white" style="background-color: #00a8ec;"
                    type="submit">ออกจากระบบ</button>
                <!-- </form> -->
            </div>
        </div>
    </nav>
    <br>
    <div class="container">
        <!-- <div class="row"> -->
        <!-- <div class="col-sm-12 bg-dark"> -->
        <div class="my-4">
            <div class="row justify-content-around " id="search">

                <!-- <div class="col-sm-4 bg-danger"> -->
                <!-- <label style="color:white;">ต้นทาง</label> -->
                <!-- <input type="text" class="form-control" id=""
                    style="border: 1px solid #8dcff4;border-radius: 5px;width: 30%;" placeholder="ต้นทาง"> -->
                <!-- </div> -->
                <h3>แผ่นที่ประกอบการท่องเที่ยว</h3>
                <!-- <div class="col-sm-4 bg-primary"> -->
                <!-- <label style="color:white;">ปลายทาง</label> -->
                <!-- <input type="text" class="form-control" id=""
                    style="border: 1px solid #8dcff4;border-radius: 5px;width: 30%;" placeholder="ปลายทาง"> -->
                <!-- </div> -->
                <!-- <div class="col-sm-4 bg-dark"> -->
                <!-- <button class="btn" style="background-color:#00a8ec;width: 20%;color: white;">ค้นหา</button> -->
                <!-- </div> -->

            </div>
        </div>

        <!-- </div> -->
        <!-- </div> -->
        <br>
        <div class="row">
            <!-- <div class="col-sm-1">
            </div> -->
            <div class="col-sm-12" id="map" style="height: 500;">

            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="page-footer font-small pt-4 text-white mt-5" style="background-color: #00a8ec;">

        <!-- Footer Links -->
        <div class="container text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-4 mx-auto">

                    <!-- Content -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">ติดต่อเรา</h5>
                    <p>มหาวิทยาลัยแม่ฟ้าหลวง 333 หมู่ 1 ตำบล ท่าสุด อำเภอ เมืองเชียงราย จังหวัด เชียงราย รหัสไปรษณีย์
                        57100
                    </p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none">

                <!-- Grid column -->
                <div class="col-md-2 mx-auto">

                    <!-- Links -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Link 1</a>
                        </li>
                        <li>
                            <a href="#!">Link 2</a>
                        </li>
                        <li>
                            <a href="#!">Link 3</a>
                        </li>
                        <li>
                            <a href="#!">Link 4</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none">

                <!-- Grid column -->
                <div class="col-md-2 mx-auto">

                    <!-- Links -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Link 1</a>
                        </li>
                        <li>
                            <a href="#!">Link 2</a>
                        </li>
                        <li>
                            <a href="#!">Link 3</a>
                        </li>
                        <li>
                            <a href="#!">Link 4</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none">

                <!-- Grid column -->
                <div class="col-md-2 mx-auto">

                    <!-- Links -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Link 1</a>
                        </li>
                        <li>
                            <a href="#!">Link 2</a>
                        </li>
                        <li>
                            <a href="#!">Link 3</a>
                        </li>
                        <li>
                            <a href="#!">Link 4</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <hr class=" hrfooter ">


        <!-- Social buttons -->
        <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">
                <a class="btn-floating btn-fb mx-1">
                    <i class="fab fa-facebook-f"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-tw mx-1">
                    <i class="fab fa-twitter "> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-gplus mx-1">
                    <i class="fab fa-google-plus-g"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-li mx-1">
                    <i class="fab fa-linkedin-in"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-dribbble mx-1">
                    <i class="fab fa-dribbble"> </i>
                </a>
            </li>
        </ul>
        <!-- Social buttons -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3 prima ">© 2020 Copyright:

        </div>
        <!-- Copyright -->

    </footer>


    <!-- Modal -->
    <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="placeName">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <img id="tripImg" src="">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>